asgiref==3.6.0
dj-database-url==1.2.0
Django==4.1.4
django-filter==22.1
django-livesync==0.5
django-taggit==3.1.0
gensim==4.3.1
numpy==1.24.2
Pillow==9.4.0
psycopg2==2.9.5
scipy==1.10.1
smart-open==6.3.0
sqlparse==0.4.3
tornado==6.2
tzdata==2022.7
watchdog==2.2.1
websocket-client==1.5.0